.mainHeader {
  text-align: center;
  color: white;
  width: 100%;
  font-size: 70px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: red;

  background: rgb(39,70,196);
  background: -moz-linear-gradient(90deg, rgba(224, 119, 81,1) 0%, rgba(237, 206, 52,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(224, 119, 81,1) 0%, rgba(237, 206, 52,1) 100%);
  background: linear-gradient(90deg, rgba(224, 119, 81,1) 0%, rgba(237, 206, 52,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e07751",endColorstr="#edce34",GradientType=1);
}

.loginStatus {
  text-align: right;
  padding-right: 100px;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 100px;
  height: 100px;
}
.row1 {
  padding-bottom: 25px;
}
.loginForm{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.loginForm2{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #c99630;
}

.generic{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 3px solid #000000;
}

.list{
	background: #FAFAFA;
	padding: 30px;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 1px solid #000000;
}
.item:hover {
  color:#4b67f2;
  border: 1px solid #000000;
}
